body {
    background:#FFFFFF;
    margin: 0;
    padding: 0;
    font-family: proxima-nova,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.875em;
    color: #000;
    line-height: 1.4;
}


.navmenu {
    padding-top: 20px;
}

/* bouton menu*/
.navbar {
    display: block;
    text-align: center;
}
.navbar-brand {
    display: inline-block;
    float: none;
}
.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
}

.container {
    max-width: 100%;
}

@media (min-width: 1px) {
    .navbar-toggle {
        display: block !important;
    }
}
/* Responsive */
@media (min-width: 992px) {
    body {
        padding: 0 0 0 300px;
    }
    .navmenu {
        width:300px;
        padding-top: 0;
    }
    .navbar {
        display: none !important; /* IE8 fix */
    }
}

.badge {
    background-color: #777;
}

.tabs-left { margin-top: 3rem; }

.nav-tabs{
    display: inherit;
    float: left;
    border-bottom: 0;
    width: 45px;

li {
    float: none;
    margin: 0;

    a {

        margin-right: 0;
        border: 0;
        background-color: #888;
    }
}

.glyphicon {
    color: #412;
}

    .active .glyphicon {
    color: #657;
}
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border:0;
    background:#009245;
}

.tab-content {
    margin-left: 65px;
    width: 234px;

    .tab-pane {
        display: none;
        background-color: #fff;
    }

    .active { display: block; }
}

.list-group {
    width: 100%;
    .list-group-item {
        height: 50px;

        h4, span {
            line-height: 11px;
        }
    }
}

.smallLogo{
    width: 50px;
}
.bigLogo{

}
.navbar-brand {
    display: inherit;
    float: left;
    height: 50px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
    margin-left: 47%;
}
.navmenu-brand {
    display: inherit;
    font-size: 18px;
    margin-left: 16px;
}
.smallerLogo{
    width: 35px;
}

.homeContent{
    background-color: #00A99B;
    min-height: 200px;
    width:100%;

}

.connectionContent{
    background-color: #4CAF50;
    min-height: 200px;
    padding:5px;
}

.alentoursContent{
    background-color: #FFC107;
    min-height: 200px;
    padding:5px;

}
.itineraireContent{
    background-color: #871C1C;
    min-height: 200px;
    padding:5px;
}
.textContent{
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    display: block;
    line-height: 45px;
    color:#FFF;
    padding-right:60px;
}
.linkContent{
    text-decoration: none;
    text-align: center;
    font-size: 1.875em;
    width: 100%;
    display: block;
    line-height: 55px;
    color:#FFF;
    padding-right:60px;
}

.inputMenu{
    color: black;
    width:150px;
    height:30px;
    vertical-align: middle;
    line-height: 30px;
}

.submitButton{
    float: right;
}
.subscriptionButton{
    font-size: 1.5em;
    float:left;
    width:100px;
}
.labels{
    font-size:1.5em;
    text-align: left;
    margin-left:15px;
    line-height: 30px;
}
.menu-box{
    height:30px;
    margin-top:15px;
    padding-left:5px;
    width: 190px;

}
.positionImage{
    float: right;
    width: 35px;
    margin-right:30px;
}
.image_language{
    margin-top:5px;
    padding:5px;
    width:55px;
}
#language{
    padding:10px;
}
#language ul{
    list-style: none;
    display:block;
}
#language li{
    float:left;
    padding:5px;
}
#icone_partage{
    padding:5px;
}
#icone_partage ul{
    list-style: none;
    display:block;
}
#icone_partage li{
    float:left;
    padding:5px;
}
